<!DOCTYPE html>
<html lang="en" ng-app="nodejsApp">
	<head>
		<title>Site title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.css" />
		<title>AngularJS Auth</title>

		<!-- Auth0's lock widget library -->
		<script type="text/javascript" src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>

		<!-- Application CSS -->
		<link rel="stylesheet" href="/assets/css/app.css" />
	</head>
	<body>

		<toolbar></toolbar>

		<div layout-padding>
			<ui-view></ui-view>
		</div>



		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js"></script>
		<script src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.min.js"></script>
		<script src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.min.js"></script>
		<script src="https://cdn.auth0.com/w2/auth0-angular-4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>

		<script src="./assets/js/app.js"></script>
		<script src="./assets/js/components/toolbar/toolbar.dir.js"></script>
	</body>
</html>